/* ----------------------------
   PIXEL CALENDAR
---------------------------- */

.pixel-calendar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin: 15px 0 25px;
}

.pixel-date-btn {
  background: #f7fbff;
  border: 3px solid #9dd3ff;
  box-shadow: 3px 3px 0 #cbe6ff;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  font-family: "Press Start 2P";
  font-size: 12px;
  color: #405c73;
  cursor: pointer;
  transition: 0.15s;
}

.pixel-date-btn:hover {
  background: #e0f1ff;
  transform: translate(-2px, -2px);
}

.pixel-date-btn.selected {
  background: #9dd3ff;
  color: white;
  border-color: #5aa6ff;
  box-shadow: 4px 4px 0 #5aa6ff;
}
